# Xcode
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
.idea/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
Packages
.build/

# CocoaPods
Pods
Podfile.lock
# Add this line if you want to avoid checking in source code from the Pods directory
# /Pods/

# Carthage
Carthage/Build

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Code Injection by AppCode
.idea/

# Archived files
*.xcarchive

# Playground
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.xcodeproj/xcshareddata/swiftpm/Package.resolved

# Custom
APIKey.json
Preview\ Content/APIKey.json 
